Repository whaili/slurm-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-helm-docs, make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

make-helm-docs:
  name: make-helm-docs
  entry: make helm-docs
  language: system
  require_serial: true
  pass_filenames: false

make-helm-validate:
  name: Make Helm Validate
  entry: make helm-validate
  language: system
  pass_filenames: false

make-golangci-lint:
  name: make-golangci-lint
  entry: make golangci-lint
  language: system
  require_serial: true
  pass_filenames: false

make-golangci-lint-fmt:
  name: make-golangci-lint-fmt
  entry: make golangci-lint-fmt
  language: system
  require_serial: true
  pass_filenames: false

make-manifests:
  name: Make Manifests
  entry: make manifests
  language: system
  pass_filenames: false

make-generate:
  name: Make Generate
  entry: make generate
  language: system
  pass_filenames: false

make-tests:
  name: Make Tests
  entry: make test
  language: system
  pass_filenames: false

style: shortened naming schema for health and metrics addresses
  cmd/manager/main.go
  cmd/manager/main_test.go
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/default/manager_auth_proxy_patch.yaml
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: exposes health and metrics addresses via the Helm chart
  helm/slurm-operator/README.md
  helm/slurm-operator/templates/operator/deployment.yaml
  helm/slurm-operator/templates/webhook/deployment.yaml
  helm/slurm-operator/values.yaml
Due: make-helm-docs, make-helm-validate

fix: set imagePullPolicy in slurm-operator chart from values
  helm/slurm-operator/README.md
  helm/slurm-operator/templates/_operator.tpl
  helm/slurm-operator/templates/_webhook.tpl
  helm/slurm-operator/templates/operator/deployment.yaml
  helm/slurm-operator/templates/webhook/deployment.yaml
  helm/slurm-operator/values.yaml
Due: make-helm-docs, make-helm-validate

style: prefer return object called 'out'
  internal/builder/accounting_app.go
  internal/builder/configmap.go
  internal/builder/controller_app.go
  internal/builder/login_app.go
  internal/builder/restapi_app.go
  internal/builder/secret.go
  internal/builder/worker_app.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

chore: remove kustomize from Makefile
  Makefile
Due: none

refactor: prune redundant base object fields
  internal/builder/accounting_app.go
  internal/builder/controller_app.go
  internal/builder/login_app.go
  internal/builder/restapi_app.go
  internal/builder/worker_app.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: make reconfigure a sidecar
  internal/builder/controller_app.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: update images and links for documentation in subdirectories
  Makefile
  README.md
  docs/concepts/architecture.md
  docs/index.rst
Due: none

fix: resolves deployment error introduced in c7750800
  helm/slurm-operator/README.md
  helm/slurm-operator/templates/operator/deployment.yaml
  helm/slurm-operator/templates/operator/service.yaml
  helm/slurm-operator/templates/webhook/deployment.yaml
  helm/slurm-operator/templates/webhook/service.yaml
  helm/slurm-operator/values.yaml
Due: make-helm-docs, make-helm-validate

fix: update NodeSet pod state on pod migration
  internal/controller/nodeset/slurmcontrol/slurmcontrol.go
  internal/controller/nodeset/slurmcontrol/slurmcontrol_test.go
  internal/utils/podinfo/podinfo.go
  internal/utils/podinfo/podinfo_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

Revert "chore: clean CRDs before generating new ones"
  Makefile
Due: none

refactor: factor into nodesetutils.SetOwnerReferences()
  internal/controller/nodeset/nodeset_sync.go
  internal/controller/nodeset/utils/utils.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

chore: backport v0.4.1 changes
  CHANGELOG/CHANGELOG-0.4.md
  go.mod
  go.sum
  helm/slurm/Chart.lock
  helm/slurm/Chart.yaml
  helm/slurm/README.md
Due: make-helm-docs, make-helm-validate

fix: use global imagePullPolicy for initconf
  helm/slurm/templates/accounting/accounting-cr.yaml
Due: make-helm-validate

feat: constrain cgroup to v2
  README.md
  docs/index.rst
  helm/slurm/values.yaml
  internal/builder/controller_config.go
Due: make-helm-docs, make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: set SlurmctldParameters in accordance with CgroupPlugin
  internal/builder/controller_config.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: safely traverse nullable nested objects
  helm/slurm/templates/NOTES.txt
Due: none

init claude doc
  CLAUDE.md
  docs/claude/01-overview.md
  docs/claude/02-entrypoint.md
  docs/claude/03-callchains.md
  docs/claude/04-modules.md
  docs/claude/05-architecture.md
Due: none

QA doc
  .gitignore
  .vscode/settings.json
  docs/QA1.md
  docs/QA2.md
  docs/claude/05-architecture.md
Due: none

Path conditions:
  make-helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-helm-validate: any of: ^helm/ and \.(yaml|yml)$ and not (.helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$)
  make-golangci-lint: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-golangci-lint-fmt: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-manifests: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-generate: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-tests: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
