Repository whaili/slurm-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-helm-docs, make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

Path conditions:
  make-helm-docs: any of: (README\.md\.gotmpl|(Chart|requirements|values)\.yaml)$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-helm-validate: any of: ^helm/ and \.(yaml|yml)$ and not (.helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$)
  make-golangci-lint: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-golangci-lint-fmt: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-manifests: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-generate: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$
  make-tests: any of: \.go$, but not: .helm_ls_cache|boilerplate\..*|.*\.gen\..*|.*\.gotmpl$

fix: parsing of servicespec with wrapper
  api/v1alpha1/base_types.go
  helm/slurm/README.md
  helm/slurm/values.yaml
  internal/builder/accounting_service.go
  internal/builder/controller_service.go
  internal/builder/login_service.go
  internal/builder/restapi_service.go
Due: make-helm-docs, make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: fixes reversion of NodePort in ServiceSpec
  api/v1alpha1/base_types.go
  config/crd/bases/slinky.slurm.net_accountings.yaml
  config/crd/bases/slinky.slurm.net_controllers.yaml
  config/crd/bases/slinky.slurm.net_loginsets.yaml
  config/crd/bases/slinky.slurm.net_restapis.yaml
  helm/slurm-operator-crds/templates/slinky.slurm.net_accountings.yaml
  helm/slurm-operator-crds/templates/slinky.slurm.net_controllers.yaml
  helm/slurm-operator-crds/templates/slinky.slurm.net_loginsets.yaml
  helm/slurm-operator-crds/templates/slinky.slurm.net_restapis.yaml
  helm/slurm/values.yaml
  internal/builder/login_service.go
Due: make-helm-docs, make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: use global imagePullPolicy
  helm/slurm/templates/accounting/accounting-cr.yaml
  helm/slurm/templates/controller/controller-cr.yaml
  helm/slurm/templates/loginset/loginset-cr.yaml
  helm/slurm/templates/nodeset/nodeset-cr.yaml
Due: make-helm-validate

ci: trigger build when docker files change
  .gitlab/ci/build.yml
Due: none

chore: fix make clean idempotency
  Makefile
Due: none

chore: use sha for skaffold image builds
  helm/slurm-operator/skaffold.yaml
Due: make-helm-validate

fix: determine cluster domain from resolv.conf
  api/v1alpha1/accounting_keys.go
  api/v1alpha1/base_keys.go
  api/v1alpha1/controller_keys.go
  api/v1alpha1/loginset_keys.go
  api/v1alpha1/nodeset_keys.go
  api/v1alpha1/restapi_keys.go
  internal/utils/domainname/.testdata/custom.conf
  internal/utils/domainname/.testdata/empty.conf
  internal/utils/domainname/.testdata/kubernetes.conf
  internal/utils/domainname/.testdata/malformed.conf
  internal/utils/domainname/domainname.go
  internal/utils/domainname/domainname_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: add hostname resolution service
  README.md
  docs/index.rst
  internal/builder/common.go
  internal/builder/labels/labels.go
  internal/builder/labels/labels_test.go
  internal/builder/login_app.go
  internal/builder/login_app_test.go
  internal/builder/worker_app.go
  internal/builder/worker_app_test.go
  internal/builder/worker_service.go
  internal/builder/worker_service_test.go
  internal/controller/nodeset/nodeset_controller.go
  internal/controller/nodeset/nodeset_sync.go
  internal/controller/nodeset/nodeset_sync_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: adds pod hostname label for Slurm node mapping
  api/v1alpha1/well_known.go
  internal/controller/nodeset/utils/utils.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: update the kubeVerson format
  helm/slurm-operator/Chart.yaml
  helm/slurm-operator/README.md
  helm/slurm/Chart.yaml
  helm/slurm/README.md
Due: make-helm-docs, make-helm-validate

fix: avoid needless NotFound errors during patch
  internal/controller/nodeset/nodeset_sync_status.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

style: space separate +kubebuilder
  api/v1alpha1/controller_types.go
  api/v1alpha1/nodeset_types.go
  cmd/manager/main.go
  cmd/webhook/main.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: logger odd number of arguments passed error
  internal/controller/nodeset/nodeset_sync_status.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: correct nodeset partition enabled reference
  helm/slurm/templates/nodeset/nodeset-cr.yaml
Due: make-helm-validate

fix: properly build nodeset-service no owners
  internal/builder/worker_service.go
  internal/builder/worker_service_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

Revert "fix: update raw NodeSet CR patch logic"
  internal/controller/nodeset/nodeset_history.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

docs: organizes documentation into sub-directories
  Makefile
  docs/_static/toc.rst
  docs/concepts/architecture.md
  docs/concepts/nodeset-controller.md
  docs/concepts/slurm.md
  docs/concepts/slurmclient-controller.md
  docs/conf.py
  docs/index.rst
  docs/usage/autoscaling.md
  docs/usage/develop.md
  docs/usage/override-config-file.md
  docs/usage/pyxis.md
  docs/usage/workload-isolation.md
Due: none

fix: construct revision patch with extra fields not under pod template
  internal/controller/nodeset/nodeset_history.go
  internal/controller/nodeset/nodeset_sync_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

perf: reduce docker build context
  .dockerignore
Due: none

docs: add commented [node]Port for accounting
  helm/slurm/values.yaml
Due: make-helm-docs, make-helm-validate

docs: fix syntax for loginsets in installation instructions
  docs/installation.md
Due: none

docs: updates paths to use ${HOME} instead of ~
  docs/installation.md
Due: none

docs: fix spelling and grammar
  api/v1alpha1/well_known.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

docs: fixes slurm-operator-crds upgrade/deletion instruction
  README.md
  docs/index.rst
Due: none

fix: use correct drained check logic
  internal/controller/nodeset/slurmcontrol/slurmcontrol.go
  internal/controller/nodeset/slurmcontrol/slurmcontrol_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: implement K8s node state synchronization
  internal/controller/nodeset/nodeset_controller.go
  internal/controller/nodeset/nodeset_node_eventhandler.go
  internal/controller/nodeset/nodeset_node_eventhandler_test.go
  internal/controller/nodeset/nodeset_sync.go
  internal/controller/nodeset/nodeset_sync_test.go
  internal/utils/podutils/pod_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: avoid race condition of re-drain
  internal/controller/nodeset/nodeset_sync.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: add more context for [un]drain
  internal/controller/nodeset/nodeset_sync.go
  internal/controller/nodeset/nodeset_sync_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: avoid Slurm node reason thrashing when [un]cordon
  internal/controller/nodeset/nodeset_sync.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

test: expand ActivePods sort tests
  internal/controller/nodeset/utils/sort_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

refactor: rename syncSlurm => syncSlurmDeadline
  internal/controller/nodeset/nodeset_sync.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

docs: fixes cert-manager installation instruction
  README.md
  docs/index.rst
  docs/installation.md
Due: none

fix: slurm-controller slurmctldhost for gke dns
  api/v1alpha1/controller_keys.go
  internal/builder/common.go
  internal/builder/controller_config.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

refactor: use field indexers
  internal/controller/nodeset/nodeset_controller.go
  internal/controller/nodeset/nodeset_indexers.go
  internal/controller/nodeset/nodeset_node_eventhandler.go
  internal/controller/nodeset/nodeset_node_eventhandler_test.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

feat: make NodeSet updateStrategy configurable
  helm/slurm/README.md
  helm/slurm/templates/nodeset/nodeset-cr.yaml
  helm/slurm/values.yaml
Due: make-helm-docs, make-helm-validate

feat: implements graceful nodeset pod disruption handling
  api/v1alpha1/well_known.go
  config/rbac/role.yaml
  helm/slurm-operator/templates/operator/rbac.yaml
  internal/builder/common.go
  internal/builder/labels/labels.go
  internal/builder/labels/labels_test.go
  internal/builder/pod_disruption_budget.go
  internal/builder/worker_pdb.go
  internal/controller/nodeset/nodeset_controller.go
  internal/controller/nodeset/nodeset_sync.go
  internal/controller/nodeset/nodeset_sync_status.go
  internal/utils/objectutils/patch.go
Due: make-helm-validate, make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: per-nodeset partition creation flow
  internal/builder/controller_config.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests

fix: safely fetch helm values in nested objects
  helm/slurm/templates/NOTES.txt
Due: none

fix: use proper value for --controller-worker flag
  helm/slurm-operator/templates/operator/deployment.yaml
Due: make-helm-validate

feat: expose slurm-operator metrics-server-bind-address via cli
  cmd/manager/main.go
  cmd/webhook/main.go
Due: make-golangci-lint, make-golangci-lint-fmt, make-manifests, make-generate, make-tests
